<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Belvg_Storelocator>
            <version>2.0.11</version>
        </Belvg_Storelocator>
    </modules>
    <global>
        <models>
            <storelocator>
                <class>Belvg_Storelocator_Model</class>
                <resourceModel>storelocator_resource</resourceModel>
            </storelocator>
            <storelocator_resource>
                <class>Belvg_Storelocator_Model_Resource</class>
                <deprecatedNode>storelocator_mysql4</deprecatedNode>
                <entities>
                    <location>
                        <table>belvg_storelocator_location</table>
                    </location>
                    <location_store>
                        <table>belvg_storelocator_location_store</table>
                    </location_store>
                    <location_product>
                        <table>belvg_storelocator_location_product</table>
                    </location_product>
                    <migrate>
                        <table>belvg_stores</table>
                    </migrate>
                </entities>
            </storelocator_resource>
        </models>
        <resources>
            <storelocator_setup>
                <setup>
                    <module>Belvg_Storelocator</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storelocator_setup>
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
        </resources>
        <blocks>
            <storelocator>
                <class>Belvg_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <events>
            <controller_front_init_routers>
                <observers>
                    <storelocator_route_init>
                        <class>Belvg_Storelocator_Controller_Front_Router</class>
                        <method>initControllerRouters</method>
                    </storelocator_route_init>
                </observers>
            </controller_front_init_routers>
        </events>
        <helpers>
            <storelocator>
                <class>Belvg_Storelocator_Helper</class>
            </storelocator>
        </helpers>
    </global>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Belvg_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>belvg/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
        <events>
            <customer_session_init>
                <observers>
                    <storelocator_customer_session_init>
                        <class>storelocator/observer_customer</class>
                        <method>customerSessionInit</method>
                    </storelocator_customer_session_init>
                </observers>
            </customer_session_init>
            <storelocator_collection>
                <observers>
                    <storelocator_location_init>
                        <class>storelocator/observer_location</class>
                        <method>storeLocation</method>
                    </storelocator_location_init>
                </observers>
            </storelocator_collection>
        </events>
        <translate>
            <modules>
                <Belvg_Storelocator>
                    <files>
                        <default>Belvg_Storelocator.csv</default>
                    </files>
                </Belvg_Storelocator>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Belvg_Storelocator before="Mage_Adminhtml">Belvg_Storelocator_Adminhtml</Belvg_Storelocator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>belvg/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
        <translate>
            <modules>
                <Belvg_Storelocator>
                    <files>
                        <default>Belvg_Storelocator.csv</default>
                    </files>
                </Belvg_Storelocator>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <storelocator>
            <settings>
                <route>store-locator.html</route>
                <title>Store Locator</title>
                <radius>100,200,300,400,500</radius>
                <show_map>1</show_map>
                <google_zoom>15</google_zoom>
                <google_zoom_marker>15</google_zoom_marker>
                <distance>1</distance>
                <directions>1</directions>
                <use_language>0</use_language>
                <language_code>en</language_code>
                <google_distance>0</google_distance>
                <detect_location>1</detect_location>
                <units>km</units>
                <default_message>Default message</default_message>
                <location_count>10</location_count>
                <empty_result>Locations of this criterion is not found.</empty_result>
            </settings>
            <dev>
                <enabled>0</enabled>
                <override_ip>4.167.234.0</override_ip>
            </dev>
        </storelocator>
    </default>
</config>